In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [26]:
# read the dataset
data = pd.read_csv('train_ctrUa4K.csv')
data.shape

(614, 13)

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
#label encode the target variable
encode = LabelEncoder()
data.Loan_Status = encode.fit_transform(data.Loan_Status)

In [6]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [7]:
# drop the null values
data.dropna(how='any',inplace=True)

In [8]:
# train-test-split   
train , test = train_test_split(data,test_size=0.2,random_state=0)

In [9]:
# seperate the target and independent variable
train_x = train.drop(columns=['Loan_ID','Loan_Status'],axis=1)
train_y = train['Loan_Status']

test_x = test.drop(columns=['Loan_ID','Loan_Status'],axis=1)
test_y = test['Loan_Status']

In [10]:
train_x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
481,Male,Yes,3+,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Rural
341,Female,No,0,Graduate,No,2378,0.0,46.0,360.0,1.0,Rural
297,Female,Yes,1,Graduate,No,4666,0.0,135.0,360.0,1.0,Urban
255,Female,No,3+,Graduate,No,3083,0.0,255.0,360.0,1.0,Rural
271,Male,Yes,0,Graduate,No,11146,0.0,136.0,360.0,1.0,Urban
359,Male,Yes,3+,Graduate,No,5167,3167.0,200.0,360.0,1.0,Semiurban
74,Male,Yes,3+,Graduate,Yes,5266,1774.0,187.0,360.0,1.0,Semiurban
384,Male,Yes,2,Graduate,No,4566,0.0,100.0,360.0,1.0,Urban
484,Male,Yes,2,Graduate,No,8333,0.0,246.0,360.0,1.0,Semiurban
574,Male,Yes,3+,Graduate,No,6406,0.0,150.0,360.0,1.0,Semiurban
486,Male,No,2,Graduate,No,3547,0.0,80.0,360.0,0.0,Rural
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
82,Female,Yes,2,Graduate,No,1378,1881.0,167.0,360.0,1.0,Urban
312,Female,No,0,Graduate,No,2507,0.0,56.0,360.0,1.0,Rural
58,Male,Yes,1,Graduate,No,8080,2250.0,180.0,360.0,1.0,Urban
196,Male,No,0,Graduate,No,8333,3750.0,187.0,360.0,1.0,Rural
69,Female,No,0,Graduate,No,4300,0.0,136.0,360.0,0.0,Semiurban
224,Male,Yes,0,Graduate,No,6250,0.0,128.0,360.0,1.0,Semiurban
217,Male,Yes,0,Graduate,No,3727,1775.0,131.0,360.0,1.0,Semiurban
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
253,Male,Yes,1,Not Graduate,No,2661,7101.0,279.0,180.0,1.0,Semiurban
200,Male,Yes,1,Not Graduate,No,2600,2500.0,90.0,360.0,1.0,Semiurban
280,Male,No,1,Not Graduate,Yes,4053,2426.0,158.0,360.0,0.0,Urban
575,Male,Yes,2,Graduate,No,3159,461.0,108.0,84.0,1.0,Urban
566,Male,No,0,Graduate,No,3333,0.0,70.0,360.0,1.0,Urban
557,Male,Yes,3+,Graduate,Yes,10139,0.0,260.0,360.0,1.0,Semiurban
510,Male,No,0,Not Graduate,No,3598,1287.0,100.0,360.0,1.0,Rural
205,Female,No,0,Not Graduate,No,4408,0.0,120.0,360.0,1.0,Semiurban
203,Male,Yes,1,Not Graduate,No,3500,1083.0,135.0,360.0,1.0,Urban
62,Male,Yes,0,Not Graduate,Yes,2609,3449.0,165.0,180.0,0.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...
518,Male,No,0,Graduate,No,4683,1915.0,185.0,360.0,1.0,Semiurban
342,Male,Yes,1,Not Graduate,No,4554,1229.0,158.0,360.0,1.0,Urban
91,Male,Yes,2,Graduate,No,6250,5654.0,188.0,180.0,1.0,Semiurban
426,Female,No,1,Not Graduate,No,4606,0.0,81.0,360.0,1.0,Rural
33,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban
211,Male,Yes,3+,Graduate,No,3430,1250.0,128.0,360.0,0.0,Semiurban
430,Female,No,1,Graduate,Yes,8624,0.0,150.0,360.0,1.0,Semiurban
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
222,Male,No,0,Graduate,No,2971,2791.0,144.0,360.0,1.0,Semiurban
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
52,Female,No,0,Graduate,No,4230,0.0,112.0,360.0,1.0,Semiurban
248,Male,Yes,1,Graduate,No,2882,1843.0,123.0,480.0,1.0,Semiurban
404,Female,No,0,Graduate,Yes,7441,0.0,194.0,360.0,1.0,Rural
509,Female,No,1,Graduate,No,13262,0.0,40.0,360.0,1.0,Urban
116,Female,Yes,0,Graduate,No,3167,2283.0,154.0,360.0,1.0,Semiurban
89,Male,Yes,0,Graduate,No,5695,4167.0,175.0,360.0,1.0,Semiurban
115,Male,Yes,1,Graduate,No,14583,0.0,185.0,180.0,1.0,Rural
376,Male,Yes,3+,Graduate,No,8750,4996.0,130.0,360.0,1.0,Rural
306,Female,No,0,Graduate,No,3762,1666.0,135.0,360.0,1.0,Rural
358,Male,Yes,0,Not Graduate,No,3000,1666.0,100.0,480.0,0.0,Urban
269,Female,No,1,Graduate,No,2876,1560.0,90.0,360.0,1.0,Urban
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
459,Male,Yes,0,Graduate,No,8334,0.0,160.0,360.0,1.0,Semiurban
250,Male,Yes,0,Not Graduate,No,1668,3890.0,201.0,360.0,0.0,Semiurban
320,Male,Yes,0,Graduate,No,2400,2167.0,115.0,360.0,1.0,Semiurban
414,Female,Yes,0,Not Graduate,No,2149,3237.0,178.0,360.0,0.0,Semiurban
247,Male,Yes,1,Not Graduate,No,6608,0.0,137.0,180.0,1.0,Urban
152,Male,No,0,Graduate,No,9166,0.0,244.0,360.0,1.0,Urban
60,Male,Yes,0,Graduate,No,2500,3796.0,120.0,360.0,1.0,Urban
220,Male,Yes,0,Graduate,No,2221,0.0,60.0,360.0,0.0,Urban

In [11]:
train_x.shape

(384, 11)

In [12]:
test_x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
161,Male,Yes,0,Graduate,No,7933,0.0,275.0,360.0,1.0,Urban
182,Male,Yes,0,Graduate,No,4600,0.0,73.0,180.0,1.0,Semiurban
340,Male,Yes,3+,Not Graduate,No,2647,1587.0,173.0,360.0,1.0,Rural
216,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural
183,Male,Yes,1,Graduate,No,33846,0.0,260.0,360.0,1.0,Semiurban
512,Male,Yes,2,Graduate,No,3283,2035.0,148.0,360.0,1.0,Urban
549,Male,Yes,0,Graduate,No,2785,2016.0,110.0,360.0,1.0,Rural
148,Female,No,0,Graduate,No,10000,1666.0,225.0,360.0,1.0,Rural
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
440,Male,No,0,Graduate,No,3660,5064.0,187.0,360.0,1.0,Semiurban
153,Male,Yes,2,Not Graduate,No,2281,0.0,113.0,360.0,1.0,Rural
564,Male,Yes,2,Graduate,No,8799,0.0,258.0,360.0,0.0,Urban
418,Male,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural
319,Male,Yes,1,Graduate,Yes,10000,0.0,155.0,360.0,1.0,Rural
285,Male,No,0,Graduate,No,3158,3053.0,89.0,360.0,1.0,Rural
94,Male,No,0,Not Graduate,No,3620,0.0,25.0,120.0,1.0,Semiurban
137,Male,Yes,2,Graduate,Yes,3316,3500.0,88.0,360.0,1.0,Urban
400,Male,Yes,2,Not Graduate,No,2889,0.0,45.0,180.0,0.0,Urban
455,Male,Yes,2,Graduate,No,3859,0.0,96.0,360.0,1.0,Semiurban
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
135,Male,Yes,3+,Graduate,No,4000,7750.0,290.0,360.0,1.0,Semiurban
310,Female,No,0,Graduate,No,2917,0.0,84.0,360.0,1.0,Semiurban
50,Female,Yes,0,Not Graduate,No,1928,1644.0,100.0,360.0,1.0,Semiurban
500,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural
409,Male,Yes,3+,Graduate,No,81000,0.0,360.0,360.0,0.0,Rural
277,Male,Yes,0,Graduate,No,3103,1300.0,80.0,360.0,1.0,Urban
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
558,Male,Yes,0,Graduate,No,3887,2669.0,162.0,360.0,1.0,Semiurban
445,Male,Yes,1,Graduate,Yes,3466,1210.0,130.0,360.0,1.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...
401,Male,No,0,Not Graduate,No,2755,0.0,65.0,300.0,1.0,Rural
96,Female,Yes,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban
520,Male,Yes,2,Not Graduate,No,2192,1742.0,45.0,360.0,1.0,Semiurban
424,Male,Yes,0,Graduate,No,14880,0.0,96.0,360.0,1.0,Semiurban
185,Male,Yes,0,Graduate,Yes,39147,4750.0,120.0,360.0,1.0,Semiurban
68,Male,Yes,3+,Not Graduate,Yes,7100,0.0,125.0,60.0,1.0,Urban
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
291,Male,Yes,2,Graduate,No,4400,0.0,127.0,360.0,0.0,Semiurban
311,Male,No,0,Not Graduate,No,2927,2405.0,111.0,360.0,1.0,Semiurban
386,Male,No,0,Not Graduate,No,2346,1600.0,132.0,360.0,1.0,Semiurban
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
70,Male,Yes,0,Graduate,No,3208,3066.0,172.0,360.0,1.0,Urban
210,Female,No,0,Graduate,No,10000,0.0,214.0,360.0,1.0,Semiurban
75,Male,No,0,Graduate,No,3750,0.0,113.0,480.0,1.0,Urban
241,Male,Yes,1,Not Graduate,No,2510,1983.0,140.0,180.0,1.0,Urban
90,Male,Yes,0,Graduate,No,2958,2900.0,131.0,360.0,1.0,Semiurban
474,Male,No,2,Graduate,No,5532,4648.0,162.0,360.0,1.0,Rural
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
119,Female,No,0,Graduate,No,10408,0.0,259.0,360.0,1.0,Urban
519,Female,No,0,Not Graduate,No,3400,0.0,95.0,360.0,1.0,Rural
300,Male,Yes,0,Not Graduate,No,1800,2934.0,93.0,360.0,0.0,Urban
362,Male,Yes,0,Graduate,No,4750,2333.0,130.0,360.0,1.0,Urban
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
464,Male,No,0,Graduate,No,4166,0.0,98.0,360.0,0.0,Semiurban
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
532,Male,No,2,Graduate,No,3588,0.0,110.0,360.0,0.0,Rural
534,Female,No,0,Not Graduate,Yes,18165,0.0,125.0,360.0,1.0,Urban
142,Male,No,0,Graduate,Yes,6950,0.0,175.0,180.0,1.0,Semiurban
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
243,Male,Yes,2,Graduate,Yes,6250,1300.0,108.0,360.0,1.0,Rural

In [13]:
test_x.shape

(96, 11)

In [14]:
train_x = pd.get_dummies(train_x)
test_x  = pd.get_dummies(test_x)

In [15]:
train_x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
481,3095,0.0,113.0,360.0,1.0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0
341,2378,0.0,46.0,360.0,1.0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
297,4666,0.0,135.0,360.0,1.0,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1
255,3083,0.0,255.0,360.0,1.0,1,0,1,0,0,0,0,1,1,0,1,0,1,0,0
271,11146,0.0,136.0,360.0,1.0,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1

In [16]:
test_x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
18,4887,0.0,133.0,360.0,1.0,0,1,0,1,1,0,0,0,0,1,1,0,1,0,0
161,7933,0.0,275.0,360.0,1.0,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
182,4600,0.0,73.0,180.0,1.0,0,1,0,1,1,0,0,0,1,0,1,0,0,1,0
340,2647,1587.0,173.0,360.0,1.0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0
216,150,1800.0,135.0,360.0,1.0,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0

In [17]:
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (384, 20)
shape of testing data :  (96, 20)

In [18]:
# create the object of the model
model = LogisticRegression()

model.fit(train_x,train_y)

C:\Users\Bliss\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
predict = model.predict(test_x)

print('Predicted Values on Test Data',predict)

print('Transforming back to labels', encode.inverse_transform(predict))

print('\n\nAccuracy Score on test data : \n\n')
print(accuracy_score(test_y,predict))

Predicted Values on Test Data [1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1]
Transforming back to labels ['Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N'
 'Y' 'N' 'Y' 'Y' 'Y' 'Y']


Accuracy Score on test data :


0.7604166666666666